<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ usuario }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Accede a tus servicios de salud, agenda tus citas y consulta tu información personal.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="irAPerfil()">Mi Perfil</ion-button>
  <ion-button expand="block" (click)="irAContacto()">Registros de Horas</ion-button>
  <ion-button expand="block" color="secondary" (click)="irAQuienesSomos()">Quiénes Somos</ion-button>
  <ion-button expand="block" (click)="cerrarSesion()" color="medium">Cerrar Sesión</ion-button>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Atención en Clínica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Brindamos atención médica personalizada en nuestras modernas instalaciones.
    </ion-card-content>
    <img src="assets/clinica1.jpg" alt="Atención en Clínica" style="width:100%; max-height:300px; object-fit:cover;">

  </ion-card>
  
  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Equipo Médico Especializado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nuestro equipo está formado por profesionales altamente capacitados.
    </ion-card-content>
    <img src="assets/clinica2.jpg" alt="Equipo Médico" style="width:100%; max-height:300px; object-fit:cover;">
  </ion-card>

